.top-nav {
    display: flex;
    
    background-color: rgba(128, 127, 125, .6);
    padding: .25em;
    padding-left: 1em;
    padding-right: 1em;
}
.menu-button {
    color: lightgrey;
    font-size: 1.8em;
    margin-left: auto;
}